@model IEnumerable<IdentityRole>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        img {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h1>Role Lİst</h1>
            <hr />
            <div class="row my-2 ">
                <div class="col-md-12 d-flex justify-content-end">
                    <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="RoleCreate">Create Role</a>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:250px;">Id</td>
                        <td>Role Name</td>
                        <td style="width:200px"></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>
                                    <a asp-controller="Admin" asp-action="RoleEdit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                    <form action="/admin/role/deleterole" method="post" style="display:inline;">
                                        <input type="hidden" name="RoleId" value="@item.Id" />
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h3>No Roles</h3>
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
