@model List<Book>

<html>
<style>
    img{
        width : 340px;
        height : 620px;
    }
</style>
</html>

@foreach (var item in Model)
{
    <div class="col-md-4 mb-3">
        <div class="card">
            <img class="card-img-top" src="~/Images/@item.ImageUrl" alt="">
            <div class="card-body">
                <h5 class="card-title">@item.BookName</h5>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline">
                        <input type="hidden" name="bookId" value="@item.Id" />
                        <input type="hidden" name="quantity" value="1" />
                        <button type="submit" class="btn btn-primary btn-sm">Add To Cart</button>
                    </form>
                }
            </div>
        </div>
    </div>
}
